.footer {
  background: #333333;
  color: white;
  height: 50px;
  padding: 40px 20px;

}

.footer .fa {
  font-size: 30px;
  padding: 0 10px;
}

.footer .fa:hover {
  color: $yellow;
}

.footer p {
  margin-bottom: 0;
}
