<div class="text-center padded">
  <h1>Our Team</h1>

  <ul class="list-inline">
    <% ["seb", "gregoire", "sibylle"].each do |member| %>
      <li>
        <%= image_tag "#{member}.jpg", class: "avatar-extra-large" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>

  <% link_to "mailto:contact@airbnb.com" do %>
    <i class="fa fa-envelope"></i>contact@airbnb.com
  <% end %>
</div>


